<div class=" panel panel-default">
  <div class="panel-heading">Achievements</div>
  <div class="panel-body">
    <div class="row achievement-row" ng-repeat="category in categories">
      <p class="col-xs-12">{{category.categoryName}}</p>
      <div class="col-xs-1 ach" ng-repeat="achievement in achievements | filter: achievement.category = category.categoryId" ng-show="achievement.category == category.categoryId">
        <img ng-src="images/{{achievement.image}}" height="50" tooltip-html-unsafe="{{achievementTooltip(achievement)}}" ng-class="{'fade30' : achievement.granted == false}">
      </div>
    </div>
  </div>
</div>